.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.stocktable{
  margin-top: 50px;
  padding: 2%;
  width: 60%;
  min-height: 20px;
  background: #fff;
  border: 0.5px solid #eee;
  box-shadow: 2px 2px 2px 2px #eee;
  border-radius: 2px;
  margin-left: 20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
